* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins-Regular", "Hanuman", Arial, sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Hanuman";
  src: url(/fonts/Hanuman/Hanuman-regular.ttf);
}

/* Glow Profile */
@keyframes rainbow-glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.animate-rainbow-glow {
  animation: rainbow-glow 3s linear infinite;
}

/*? Global scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
}
